body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.main-panel nav{
    background-color: #000000;
    height: 10%;
    display: flex;
    align-items: center;
}

.main-panel nav ul {
    list-style: none;
    padding: 0;
    
}

.main-panel nav ul li {
    display: inline;
    margin: 0 15px;
}

.main-panel nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
